mysql_docker: wordpressdb
mysql_user: root
mysql_password: password

aws_access_key: 4cc355_k3y
aws_secret_key: 53cr37_k3y
aws_region_name: eu-west-1
aws_s3_bucket_name: bucket_name
aws_s3_bucket_folder: path/to/folder